logic-app-src/httpbin-workflow/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "manual": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "customParam": {
                "type": "string",
                "description": "Optional custom parameter to include in httpbin call"
              }
            }
          },
          "method": "POST"
        },
        "description": "HTTP trigger that starts the workflow"
      }
    },
    "actions": {
      "Get_Username_Secret": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "secretName": "demo-username"
          },
          "serviceProviderConfiguration": {
            "connectionName": "keyvault",
            "operationId": "getSecret",
            "serviceProviderId": "/serviceProviders/keyVault"
          }
        },
        "runAfter": {},
        "description": "Get username directly from Key Vault using Managed Identity"
      },
      "Get_Password_Secret": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "secretName": "demo-password"
          },
          "serviceProviderConfiguration": {
            "connectionName": "keyvault",
            "operationId": "getSecret",
            "serviceProviderId": "/serviceProviders/keyVault"
          }
        },
        "runAfter": {
          "Get_Username_Secret": ["Succeeded"]
        },
        "description": "Get password directly from Key Vault using Managed Identity"
      },
      "Call_Httpbin_Get": {
        "type": "Http",
        "inputs": {
          "method": "GET",
          "uri": "https://httpbin.org/get",
          "queries": {
            "username": "@body('Get_Username_Secret')?['value']",
            "message": "Hello from Logic App with Managed Identity and Key Vault Built-in Connector",
            "timestamp": "@utcNow()",
            "customParam": "@coalesce(triggerBody()?['customParam'], 'defaultValue')"
          },
          "headers": {
            "Content-Type": "application/json",
            "X-Custom-Header": "LogicAppDemo"
          }
        },
        "runAfter": {
          "Get_Password_Secret": ["Succeeded"]
        },
        "description": "Call httpbin.org GET endpoint with query parameters"
      },
      "Parse_Httpbin_Response": {
        "type": "ParseJson",
        "inputs": {
          "content": "@body('Call_Httpbin_Get')",
          "schema": {
            "type": "object",
            "properties": {
              "args": {
                "type": "object"
              },
              "headers": {
                "type": "object"
              },
              "origin": {
                "type": "string"
              },
              "url": {
                "type": "string"
              }
            }
          }
        },
        "runAfter": {
          "Call_Httpbin_Get": ["Succeeded"]
        },
        "description": "Parse the JSON response from httpbin"
      },
      "Success_Response": {
        "type": "Response",
        "inputs": {
          "statusCode": 200,
          "body": {
            "status": "success",
            "message": "Workflow executed successfully using Key Vault Built-in Connector",
            "data": {
              "httpbinResponse": "@body('Parse_Httpbin_Response')",
              "usernameUsed": "@body('Get_Username_Secret')?['value']",
              "secretSource": "Key Vault Built-in Connector with Managed Identity",
              "executionTime": "@utcNow()",
              "workflowRunId": "@workflow()['run']['name']"
            }
          },
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "runAfter": {
          "Parse_Httpbin_Response": ["Succeeded"]
        },
        "description": "Return success response with httpbin data"
      },
      "Error_Response": {
        "type": "Response",
        "inputs": {
          "statusCode": 500,
          "body": {
            "status": "error",
            "message": "Workflow execution failed",
            "error": "@concat('Error in action: ', coalesce(workflow()['run']['error']?['message'], 'Unknown error'))",
            "executionTime": "@utcNow()",
            "workflowRunId": "@workflow()['run']['name']"
          },
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "runAfter": {
          "Get_Username_Secret": ["Failed", "TimedOut"],
          "Get_Password_Secret": ["Failed", "TimedOut"],
          "Call_Httpbin_Get": ["Failed", "TimedOut"],
          "Parse_Httpbin_Response": ["Failed", "TimedOut"]
        },
        "description": "Return error response if workflow fails"
      }
    },
    "outputs": {}
  },
  "kind": "Stateful"
}
